.image-with-text.image-with-video {
  h2 {
    font-size: 55px;
    line-height: 1;
    margin-bottom: 10px;
  }
  p {
    padding: 0;
    line-height: 2;
    letter-spacing: 0;
    font-size: 16px;
    margin-bottom: 16px;
  }
  @include av-mq('widescreen') {
    h2 {
      font-size: 85px;
    }
    p {
      font-size: 19px;
    }
  }
}
.detail-items {
  padding-top: 20px;
  .detail-items--item {
    width: 50%;
    display: inline-block;
    margin-bottom: 16px;
    span {
      margin-right: 10px;
      color: #53cc7c;
      display: inline-block;
      font-size: 0;
      vertical-align: middle;
      img {
        width: 18px;
      }
    }
  }
}
@include av-mq('widescreen') {
  .image-with-text.image-with-video {
    .image-with-text__text > div {
      margin-left: 60px;
    }
  }
  .detail-items {
    .detail-items--item {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
}
@include av-mq('mobile') {
  .image-with-text.image-with-video {
    h2 {
      font-size: 35px;
    }
    p {
      font-size: 14px;
      line-height: 1.7;
    }
    .image-with-text__text {
      text-align: left !important;
    }
  }
  .detail-items {
    .detail-items--item {
      font-size: 14px;
      text-align: left;
    }
  }
}