// Text colors
$footer-social-icons-size: var(--footer-social-icons-size);
$color-body-text: var(--color-body-text);

// Background colors
$color-body: var(--color-main-background);

// Placeholders
$placeholder-color-foreground: #161d25;
$placeholder-color-background: #f9fafb;

// Other colors
$color-accent: var(--color-primary);
$color-border: var(--color-border);

// Helper colors for form error states
$color-disabled: #000000;
$color-disabled-border: #000000;
$color-error: #ff6d6d;
$color-error-bg: #ffffff;
$color-success: #000000;
$color-success-bg: #000000;

// Typography
$font-heading: 'Beatrice';
$font-body: 'Beatrice';
$font-body-weight: normal;
$font-body-style: normal;
$font-body-bold-weight: 600;

// Transitions
$transition-duration: 250ms;
$transition-timing: ease-in-out;

// Grid
$grid-medium: 46.85em;
$grid-large: 61.85em;
// $grid-widescreen: 87.5em;
$grid-widescreen: 80em;
$grid-max-width: 73.75em;
$grid-gutter: 30px;

// Breakpoints used with the media-query mixin
$small: 'small';
$medium: 'medium';
$medium-down: 'medium-down';
$medium-up: 'medium-up';
$large: 'large';
$large-down: 'large-down';
$large-up: 'large-up';
$widescreen: 'widescreen';
$mobile: 768px;
$over-mobile: 769px;
$tablet: 1087px;
$over-tablet: 1088px;

$breakpoints: (
  $small '(max-width: #{$grid-medium - 1})',
  $medium '(min-width: #{$grid-medium}) and (max-width: #{$grid-large - 1})',
  $medium-down '(max-width: #{$grid-large - 1})',
  $medium-up '(min-width: #{$grid-medium})',
  $large '(min-width: #{$grid-large}) and (max-width: #{$grid-widescreen - 1})',
  $large-down '(max-width: #{$grid-widescreen - 1})',
  $large-up '(min-width: #{$grid-large})',
  $widescreen '(min-width: #{$grid-widescreen})'
);

// COLORS
$white: #FFFFFF;
$gray-light: #F5F5F6;
$gray-medium: rgba(205, 205, 210, 0.5);
$gray-hard: #CDCDD2;
$gray-dark: #77777A;
$black: #000000;

$blue: #0972cf;
$red: #FF3B30;
$yellow: #EBFF00;
$green: #4CD964;
$purple: #8000E4;
$pink: #FFBCF0;
$orange: #FE7427;

$primary-color: var(--color-primary);
$error-color: $red;
$success-color: $green;

$font-size-base: 14px;
$font-family: 'Cerebri Sans', Arial;

$height-header: 60px;

// Carousel
$max-height-carousel: 700px;
$white-layout-transparency: 0.4;
$black-layout-transparency: 0.3;