a.btn,
input.btn, 
button.btn {
  @include btn();
}

.button {
  &.btn--blue {
    background-color: $blue;

    &:hover {
      
    }
  }
  &.btn--dark {
    border: none;
    opacity: 0.6;
    background: #3e3e3e;
  }
}